hr {
  width: 100%;
  border-bottom: 1px solid #7b3aae;
}
p {
  padding-top: 1%;
  font-size: 1rem;
  height: 180px;
  overflow: hidden;
}
form {
  margin: 0px 20px;
}
.card {
  border: 1px solid #a4a4f7;
  padding: 1%;
  float: left;
  margin: 0px 10px;
}
.card-image img {
 width: auto !important;
  max-height: 165px;
}
.producted {
	background-color: #a4a4f7; 
}
@media screen and (min-width: 910px) {
  .card {
    width: 98%;
    margin-bottom: 10px;
    cursor: pointer;
  }
  .card-image {
    width: 20%;
    float: left;
  }
  .card-content {
    width: 70%;
    height: 100px;
    float: left;
    padding: 0px 24px;
  }
  .card-content p {
    height: 80px;
  }
  .buttonBlock {
    width: 10%;
    float: left;
    padding: 60px 10px;
  }
}
@media screen and (max-width: 900px) {
  .card {
    width: 30%;
  }
  .card-image {
    width: 100%;
    float: none;
    padding-right: 2%;
  }
  .card-content {
    width: 100%;
    float: none;
    padding-top: 0px;
  }
  .buttonBlock {
    width: 100%;
    float: none;
    padding-top: 0px;
  }
}
.card-title {
  color: #7b3aae;
  font-weight: bold;
  text-transform: capitalize;
  padding: 0px;
  margin-bottom: 0px !important;
}
.card-author {
  font-weight: bold;
  float: left;
  padding: 0px 0px 0px 3%;
}
.card-date {
  font-weight: bold;
  font-size: 1rem;
  float: right;
}
textarea {
  height: 6rem;
  font-size: 16px;
}
label {
  width: 100%;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  color: #7b3aae;
}
input.ng-touched.ng-invalid{
  border-color: red;
}
.error{
  color: red;
}
input[type=text]:not(.browser-default) {
  height: 2rem;
}
.blueTxt {
  color: #3f51b5;
}
:host button:last-child {
  background-color: #f8e910;
  color: #000000;
}